.card {
  user-select: none;
}

.card-dragged {
  max-width: 15vw;
}

.drag {
  transform: rotate(-2deg);
  z-index: 2;
  opacity: 1 !important;
}

.ghost {
  opacity: 0 !important;
}
